modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 34213
externalPort = 3001

[[ports]]
localPort = 44045
externalPort = 3000
