modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001

[[ports]]
localPort = 35767

[[ports]]
localPort = 36541

[[ports]]
localPort = 41209

[[ports]]
localPort = 41831

[[ports]]
localPort = 42903

[[ports]]
localPort = 44045

[[ports]]
localPort = 44487

[[ports]]
localPort = 46787
