@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND */
.base-bg {
	@apply bg-[#0E51FF];
}

.base-col {
	@apply text-[#0E51FF];
}

.base-btn {
	@apply bg-[#0E51FF] text-white px-2 py-1 rounded-md cursor-pointer hover:opacity-80;
}

.inverse-base-btn {
	@apply border border-[#0E51FF] text-[#0E51FF] px-2 py-1 rounded-md cursor-pointer hover:opacity-80;
}

.text-btn {
	@apply cursor-pointer hover:opacity-60;
}

.input-field {
	@apply px-3 py-2 rounded-md w-full outline-none bg-gray-100;
}

@layer utilities {
	.bg-modal-overlay {
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.modal-base {
	@apply bg-modal-overlay absolute top-0 left-0 w-full h-full p-3 z-50 flex justify-center items-center;
}

.h1-base {
	@apply text-2xl font-bold;
}

/* CSS */
.main-content-overflow::-webkit-scrollbar {
	width: 5px;
}

.main-content-overflow::-webkit-scrollbar-thumb {
	background-color: #777;
}

.main-content-overflow::-webkit-scrollbar-track {
	background-color: #eee;
}

.folders-overflow::-webkit-scrollbar {
	width: 5px;
}

.gallery-overflow::-webkit-scrollbar {
	width: 5px;
}

.todo-list-folders-overflow::-webkit-scrollbar {
	width: 0px;
}

@media screen and (max-width: 445px) {
	.emoji-dropdown {
		display: none;
	}
}

.handle-bar-overflow::-webkit-scrollbar {
	width: 0px;
}

.filter-second-overflow::-webkit-scrollbar {
	width: 0px;
}

.settings-overflow::-webkit-scrollbar {
	height: 0px;
}

.calendar-overflow::-webkit-scrollbar {
	height: 5px;
}

.calendar-overflow::-webkit-scrollbar-thumb {
	background-color: #777;
}

.calendar-overflow::-webkit-scrollbar-track {
	background-color: #eee;
}

.saved-links-overflow::-webkit-scrollbar {
	width: 5px;
}

.saved-links-overflow::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 100px;
}

.default-overflow::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.default-overflow::-webkit-scrollbar-thumb {
	border-radius: 100px;
}

.gemini-overflow::-webkit-scrollbar {
	height: 5px;
}

.gemini-overflow::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 100px;
}

.tutorial-overflow::-webkit-scrollbar {
	height: 5px;
}

.tutorial-overflow::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 100px;
}
