@tailwind base;
@tailwind components;
@tailwind utilities;

/* TAILWIND */
.base-bg {
	@apply bg-[#0E51FF];
}

.base-col {
	@apply text-[#0E51FF];
}

.base-btn {
	@apply bg-[#0E51FF] text-white px-2 py-1 rounded-md cursor-pointer hover:opacity-80;
}

.text-btn {
	@apply cursor-pointer hover:opacity-60;
}

/* CSS */
.main-content-overflow::-webkit-scrollbar {
	width: 5px;
}
.main-content-overflow::-webkit-scrollbar-thumb {
	background-color: #777;
}
.main-content-overflow::-webkit-scrollbar-track {
	background-color: #eee;
}

.folders-overflow::-webkit-scrollbar {
	width: 5px;
}

.gallery-overflow::-webkit-scrollbar {
	width: 5px;
}

.todo-list-folders-overflow::-webkit-scrollbar {
	width: 0px;
}

@media screen and (max-width: 445px) {
	.emoji-dropdown {
		display: none;
	}
}

.handle-bar-overflow::-webkit-scrollbar {
	width: 0px;
}

.filter-second-overflow::-webkit-scrollbar {
	width: 0px;
}

.settings-overflow::-webkit-scrollbar {
	height: 0px;
}
